<!DOCTYPE html>
<html>
<head>
    <title>SIEM Memory Usage</title>
</head>
<body>
    <h1>SIEM Memory Usage</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Client Name</th>
                <th>Total</th>
                <th>Available</th>
                <th>Used</th>
                <th>Free</th>
                <th>Usage Percent</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for record in mem_use %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
                <td>{{ record[3] }}</td>
                <td>{{ record[4] }}</td>
                <td>{{ record[5] }}</td>
                <td>{{ record[6] }}</td>
                <td>{{ record[7] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>